html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#message {
  position: absolute;
  top: 0;
}

.buttons {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.buttons button {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
}